@model OrdersFrontEnd.Models.Customer

@{

}

<form method="post" asp-controller="Customer" asp-action="UpdateCustomer">
	<input type="hidden" asp-for="CustomerId" />
	<div class="border p-3 mt-4" style="max-width: 500px; margin: 0 auto;">
		<div class="row pb-2">
			<h2 class="text-primary text-center">Customer Details</h2>
			<hr />
		</div>
		<div class="mb-2 row p-1" style="margin-bottom: 10px;">
			<label asp-for="Name" class="p-0"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-2 row p-1" style="margin-bottom: 10px;">
			<label asp-for="Email" class="p-0"></label>
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="mb-2 row p-1" style="margin-bottom: 10px;">
			<label asp-for="Address" class="p-0"></label>
			<input asp-for="Address" class="form-control" />
			<span asp-validation-for="Address" class="text-danger"></span>
		</div>

		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-primary form-control">Update</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Customer" asp-action="Index" class="btn btn-outline-secondary form-control">
					Back
				</a>
			</div>
		</div>
	</div>
</form>