@{    Layout = null;    int userId = Convert.ToInt32(Session["UserId"]); 
    Layout = "~/Views/Shared/_Layout.cshtml";
}<h2>Score</h2><!DOCTYPE html><html><head>    <meta name="viewport" content="width=device-width" />    <title>Score</title>    <style>            </style></head><body>    <div class="box">        <h3>            Your Score        </h3>        <h1>            @ViewBag.Score        </h1>        @*@Html.ActionLink("MyQuizzes", "Edit", new {id = userData.id}) |*@    </div></body></html>