.parent-div{
    width: 100%;
}

.upper-div{
    padding: 1.2rem 0;
    background-color: #133b70;
    color: #fff;
}

.left-footer h4{
    margin-top: 1rem;
}
.left-footer h5{
    font-size: 0.95rem;
    font-weight: 600;
}
.left-footer p{
    font-size: 0.85rem;
    font-weight: 300;
}


.right-footer p{
    text-align: right;
    font-size: 0.9rem;
}
.right-footer li{
    list-style: none;
    background-color: #fff;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
}

.right-footer a{
    color: #133b70;
}


.bottom-footer{
    background-color: #082449;
    padding: 1.2rem 0;
    color: #fff;
}

.left-footer ul{
    padding-left: 0;
}

.left-footer li{
    list-style: none;
    border-right: 1px solid white;
    font-size: 0.85rem;
    padding: 0rem 0.5rem;
}

.left-footer ul :last-child{
    border-right: none;
}
.left-footer ul :first-child{
    padding-left: 0;
}

.left-footer li a{
    text-decoration: none;
    color: #fff;
}