
@model IEnumerable<DbFirstTodoApp.Models.Todolist>
@using DbFirstTodoApp.Helpers





<table class="table table-striped table-bordered text-center">
    <thead class="thead-dark">
        <tr>
            <th>Task Description</th>
            <th>Status</th>
            <th>Edit Action</th>
            <th>Delete Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            if (!item.IsCompleted)
            {
                @Html.TableHelper(item)
            }
        }
    </tbody>

</table>


