@model OrdersFrontEnd.Models.Product


<form method="post" asp-controller="Product" asp-action="AddProduct">
    <div class="border p-3 mt-4" style="max-width: 500px; margin: 0 auto;">
        <div class="row pb-2">
            <h2 class="text-primary text-center">Add New Product</h2>
            <hr />
        </div>
        <div class="mb-2 row p-1" style="margin-bottom: 10px;">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-2 row p-1" style="margin-bottom: 10px;">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-2 row p-1" style="margin-bottom: 10px;">
            <label asp-for="Price" class="p-0"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-2 row p-1" style="margin-bottom: 10px;">
            <label asp-for="StockQuantity" class="p-0"></label>
            <input asp-for="StockQuantity" class="form-control" />
            <span asp-validation-for="StockQuantity" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Back
                </a>
            </div>
        </div>
    </div>
</form>
